<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBhLpFM6pIMjqQdSK8oSlYWz_FH8AUxyIQ</string>
	<key>GCM_SENDER_ID</key>
	<string>391705535917</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.franchise</string>
	<key>PROJECT_ID</key>
	<string>taptrendfrenchise</string>
	<key>STORAGE_BUCKET</key>
	<string>taptrendfrenchise.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:391705535917:ios:b1a40af5cd841f4d0f2d24</string>
</dict>
</plist>